<div class="pop__wrap" data-module-pop="popup">
  <div class="pop__wrap__contents">
    <h1>Custom Popup Title</h1>
    <p>Custom Popup Contents</p>
    <button type="button" class="close_btn">close</button>
  </div>
</div>
